﻿@using BigMan.Domain
<div id="YearOnYearIntro" class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        Ever wanted to know the average manly score year on year, well look no further. Movies before @Defaults.MinYear have been omitted.
    </div>
</div>
