﻿<div class="row">
    <div data-bind="visible: SearchesLoading">
        <i id="RecentSearchesLoadingIcon" class="icon-refresh icon-spin"></i>
    </div>
</div>
<div id="YearOnYearResults" data-bind="visible: SearchesLoaded, foreach: Results">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-5 col-lg-5">
            <div>Best score for <span class="strong" data-bind="text: year"></span>,&thinsp;<span data-bind="    text: score"></span> of 100</div>
            <a href="javascript:void(0)" data-bind="attr: { 'data-movie': name }, text: name, click: function () { ClickToSearch(this); return false; }, clickBubble: false"></a>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-7 col-lg-7">
            <div class="progress">
                <div class="progress-bar" role="progressbar" data-bind="attr: { 'aria-valuenow': score }" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
    </div>
</div>
