﻿/*
    Standard Red: c0392b
    Light Red: e74c3c
    Dark Grey: 34495e
    Light Grey: ecf0f1
    */

html {
    font-size: 62.5%;
}

body {
    background: #ecf0f1;
    /*
        color: #2d2d2d;
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    */
    color: #34495e;
    font-family: "Segoe UI", "Helvetica", Garuda, Arial, sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 24px;
    /* margin-top: 60px; */
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", Garuda, "Segoe UI", "Helvetica", Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
}

p {
    margin: 0 10px 10px 0;
}

a, a:link, a:visited {
    -webkit-transition: all 0.2s ease-in 0;
    -moz-transition: all 0.2s ease-in 0;
    -o-transition: all 0.2s ease-in 0;
    -ms-transition: all 0.2s ease-in 0;
    transition: all 0.2s ease-in 0;
}

a {
    color: #F1F1F1;
    border-bottom: 1px solid #e74c3c;
}

    a:hover {
        color: #F5F5F5;
        text-decoration: none;
    }

#MoviePoster {
    height: 318px !important;
    width: 214px !important;
}

#SearchResults {
    padding-top: 10px;
    min-height: 340px;
}

#TheTechnology,
#TeamPraiseList,
#SpecialThanksList {
    padding-top: 10px;
}

#MoviePosterSearching {
    display: none;
}

.recent-searched-thumb {
    width: 90px !important;
    height: 90px !important;
}

#YearOnYearLoadingIcon,
#RecentSearchesLoadingIcon {
    font-size: 8em;
    padding: 10px;
}

.time-ago-muted {
    color: #999;
    font-size: 12px;
}

.strong {
    font-weight: bold;
}

#ManScore {
    margin-bottom: -20px;
}

#OtherAlsoSearchingFor a {
    border: none;
    color: #999;
}

#section6 a,
#section4 a {
    color: #999;
}

.spaced,
#YearOnYearIntro {
    padding-bottom: 10px;
}

.best-and-worst-year-prefix {
    padding-right: 6px;
}