﻿.bs-callout {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-left: 6px solid #eee;
    color: #808080;
}


.bs-callout-muted {
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
    border-right: 6px solid #eee;
    color: #808080;
}

.bs-callout-info {
    background-color: #f0f7fd;
    border-color: #d0e3f0;
}

.bs-callout-warning {
    background-color: #fefbed;
    border-color: #f1e7bc;
}

.bs-callout-danger {
    background-color: #fcf2f2;
    border-color: #dFb5b4;
}

.bs-callout-bigman {
    background-color: #ecf0f1;
    border-color: #e74c3c;
}

.bs-callout-bigman-muted {
    background-color: #ecf0f1;
    border-color: #7f8c8d;
}
