﻿#wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
}

#container {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	left: 50px;
	position: relative;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: transform 500ms ease 0;
	-moz-transition: transform 500ms ease 0;
	-ms-transition: transform 500ms ease 0;
	-o-transition: transform 500ms ease 0;
	transition: transform 500ms ease 0;
	width: 100%;
}

.container-fluid {
	margin: 0 auto;
	padding-right: 80px;
	padding-left: 80px;
}