﻿.section {
	margin-left: -50px;
	position: relative;
	padding: 50px 0 70px;
}

	.section h2 {
		display: inline-block;
		font-size: 58px;
		font-size: 5.8rem;
		font-weight: 700;
		letter-spacing: -1px;
		line-height: 72px;
	}

/* Section 1 */
#section1 {
	background: #7f8c8d;
	min-height: 1000px;
}

	#section1 .intro {
		margin: 130px 0;
		-ms-text-shadow: 2px 1px 5px #000000;
		-ms-text-shadow: 2px 1px 5px rgba(0,0,0, 1);
		-webkit-text-shadow: 2px 1px 5px rgba(0,0,0, 1);
		text-shadow: 2px 1px 5px rgba(0,0,0, 1);
	}

		#section1 .intro h1 {
			color: #F1F1F1;
			font-size: 85px;
			font-size: 8.5rem;
			font-weight: 500;
			letter-spacing: -2px;
			line-height: 85px;
			margin-left: -5px;
		}

		#section1 .intro h3 {
			color: #F1F1F1;
			font-size: 26px;
			font-size: 2.6rem;
			font-weight: 100;
			line-height: 28px;
			margin: 0;
			width: 80%;
		}

/* Section 2 */
#section2 {
	background: white;
	min-height: 1000px;
}

/* Section 3 */
#section3 {
	background: #7f8c8d;
	color: #F1F1F1;
	min-height: 2170px;
}

/* Section 4 */
#section4 {
	background: white;
	min-height: 1000px;
}

/* Section 5 */
#section5 {
	background: #7f8c8d;
	color: #F1F1F1;
	min-height: 1000px;
	margin-bottom: 0;
}

#section6 {
	background: white;
	min-height: 1000px;
}