﻿/* Media Queries */
@media screen and (min-width: 1800px) {
    #section1 {
        padding: 170px 0;
    }
}

@media screen and (min-width: 1200px) {
    #section1 {
        padding: 170px 0;
    }

        #section1 .intro h1 {
            font-size: 90px;
            font-size: 9.0rem;
            line-height: 100px;
            letter-spacing: -4px;
        }

        #section1 .intro h3 {
            font-size: 28px;
            font-size: 2.8rem;
            line-height: 34px;
            width: 90%;
        }

    .section h2 {
        font-size: 60px;
        font-size: 6.0rem;
    }

    .container-fluid {
        width: 1024px;
    }
}

@media screen and (max-width: 1199px) {
    .section {
        margin-left: -50px;
        /*padding: 135px 0;*/
    }

    #section1 .intro {
        margin: 100px 0;
    }

        #section1 .intro h3 {
            font-size: 24px;
            font-size: 2.4rem;
            line-height: 24px;
        }

    .section .content {
        margin-top: 50px;
    }

    .container-fluid {
        padding-left: 105px;
        padding-right: 105px;
    }

    #nav ul li {
        width: 50px;
    }

    .expanded #nav li {
        width: 150px;
    }
}

@media screen and (max-width: 979px) {
    .section h2 {
        font-size: 48px;
        font-size: 4.8rem;
        line-height: 58px;
    }

    #section1 .intro h1 {
        font-size: 70px;
        font-size: 7.0rem;
        line-height: 70px;
    }

    #section1 .intro h3 {
        font-size: 22px;
        font-size: 2.2rem;
        line-height: 22px;
    }
}

@media screen and (min-width: 768px) and (max-width: 979px) {
    #section1 .intro h3 {
        width: 85%;
    }
}

@media (max-width: 767px) {
    body {
        padding: 0;
    }

    .section {
        padding: 0;
        padding-bottom: 12px;
    }

        .section .content {
            margin-top: 0;
        }

    #section1 .intro {
        margin: 120px 0;
    }

        #section1 .intro h3 {
            width: 55%;
        }

    #MovieName {
        text-align: center;
    }

    #MovieNameSearchButton {
        margin-top: 1em;
        margin-top: 1rem;
        width: 100%;
    }

    .center-sm img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 481px) and (max-width: 649px) {
    #section1 .intro h1 {
        font-size: 60px;
        font-size: 6rem;
        line-height: 60px;
    }

    #section1 .intro h3 {
        font-size: 20px;
        font-size: 2rem;
    }
}

@media screen and (max-width: 480px) {
    .section {
        padding: 80px 0;
    }

    #section1 {
        min-height: 400px !important;
    }

    #section1 .intro {
        margin: 50px 0;
    }

        #section1 .intro h1 {
            font-size: 50px;
            font-size: 5rem;
            line-height: 50px;
        }

        #section1 .intro h3 {
            font-size: 22px;
            font-size: 2.2rem;
            line-height: 24px;
            width: 100%;
        }

    #section4 h4 {
        height: auto;
    }

    #OtherAlsoSearchingFor {
        display: none;
    }

    .bs-callout {
        padding: 0;
        padding-top: 15px;
    }

    .manScoreGauge {
        padding: 0;
    }

    #WorstResultsWrapper {
        display: none;
    }

    #sidebar {
        display: none;
    }

    #container {
        left: 0;
    }

    #section5 {
        display: none;
    }

    #section6 {
        background: whitesmoke;
    }

    .container-fluid {
        padding-left: 80px;
        padding-right: 20px;
    }
}
