﻿.btn-feature {
    border-left: 6px solid #e74c3c !important;
}

.btn-default {
    background: none #F1F1F1;
    color: #151515;
    margin-top: 75px;
}

.btn-inverse {
    background: none #c0392b;
    color: #F1F1F1;
    margin-top: 25px;
}

    .btn-inverse:focus,
    .btn-inverse:hover {
        background: #34495e;
        -webkit-transition: all 0.2s ease-in 0;
        -moz-transition: all 0.2s ease-in 0;
        -o-transition: all 0.2s ease-in 0;
        transition: all 0.2s ease-in 0;
    }

.btn-default, .btn-inverse {
    border: medium none;
    cursor: pointer;
    display: inline-block;
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 20px;
    padding: 8px 14px;
    text-align: left;
    text-transform: uppercase;
    width: 200px;
    -webkit-transition: all 0.2s ease-in 0;
    -moz-transition: all 0.2s ease-in 0;
    -o-transition: all 0.2s ease-in 0;
    transition: all 0.2s ease-in 0;
}

    .btn-inverse.alt, .btn-default.alt {
        text-align: right;
    }

    .btn-inverse i, .btn-default i {
        float: right;
        line-height: 20px;
    }

    .btn-inverse.alt i, .btn-default.alt i {
        float: left;
    }

#MovieNameSearchButton {
    margin-top: -1px;
    color: white;
}
