﻿#NavExpander {
	position: fixed;
}

#sidebar {
	background-color: #c0392b;
	height: 120%;
	padding: 0;
	position: fixed;
	left: 0;
	top: 0;
	width: 50px;
	z-index: 2;
	-webkit-transition: all 0.2s ease-in 0;
	-moz-transition: all 0.2s ease-in 0;
	-o-transition: all 0.2s ease-in 0;
	-ms-transition: all 0.2s ease-in 0;
	transition: all 0.2s ease-in 0;
}

.navigation {}

#nav {
	margin-top: 70px;
}

	#nav ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

		#nav ul li {
			color: #F1F1F1;
			cursor: pointer;
			display: inline-block;
			line-height: 22px;
			filter: alpha(opacity=40);
			font-size: 16px;
			font-size: 1.6rem;
			font-style: normal;
			font-weight: 100;
			-ms-opacity: .4;
			opacity: .4;
			padding: 8px 0 8px 15px;
			text-transform: uppercase;
			width: 58px;
		}

			#nav ul li.active {
				filter: alpha(opacity=100);
				-ms-opacity: 1;
				opacity: 1;
				border-left: 6px solid #e74c3c;
				background: #34495e;
			}

			#nav ul li.last {
				padding-right: 0;
			}

	#nav li span {
		display: inline-block;
		font-size: 14px;
		font-size: 1.4rem;
		height: 0;
		-ms-opacity: 0;
		opacity: 0;
		overflow: hidden;
		padding-left: 10px;
		width: 0;
	}

/* Expanded Nav Styling */
.expanded #container {
	left: 100px;
	-webkit-transform: translate3d(50px, 0, 0) scale3d(1, 1, 1);
	-moz-transform: translate3d(50px, 0, 0) scale3d(1, 1, 1);
	-ms-transform: translate3d(50px, 0, 0) scale3d(1, 1, 1);
	-o-transform: translate3d(50px, 0, 0) scale3d(1, 1, 1);
	transform: translate3d(50px, 0, 0) scale3d(1, 1, 1);
}

.expanded #sidebar {
	width: 150px;
	-webkit-transition: all 0.1s ease-in 0;
	-moz-transition: all 0.1s ease-in 0;
	-o-transition: all 0.1s ease-in 0;
	-ms-transition: all 0.1s ease-in 0;
	transition: all 0.1s ease-in 0;
}

.expanded #nav li {
	width: 160px;
	-webkit-transition: all 0.1s ease-in 0;
	-moz-transition: all 0.1s ease-in 0;
	-o-transition: all 0.1s ease-in 0;
	-ms-transition: all 0.1s ease-in 0;
	transition: all 0.1s ease-in 0;
}

.expanded #nav li span {
		display: inline-block;
		height: auto;
		-ms-opacity: 1;
		opacity: 1;
		overflow: visible;
		width: auto;
	}

