.manScoreGauge .easyPieChart {
    position: relative;
    text-align: center;
}

.manScoreGauge .easyPieChart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.manScoreGauge .chart {
    float: left;
    margin: 10px;
}

.manScoreGauge .percentage,
.manScoreGauge .label {
    text-align: center;
    margin-bottom: 0.3em;
}


.manScoreGauge {
    overflow: hidden;
}