﻿@using BigMan.App_Start

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Big Man</title>
    @Html.Partial("MetaTags")

    <link href="~/Portal/Content/app.open-fonts.css" rel="stylesheet" />

    @Styles.Render(BundleStyles.Default)

    <!--[if lt IE 10]>
        <link href="~/Portal/Content/app.ie9.css" rel="stylesheet" />        
    <![endif]-->

    @Scripts.Render(BundleScripts.Modernizr)

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    @Html.Partial("Favicons")
</head>
<body>
    <div id="wrapper">
        @Html.Partial("SidebarNavigation")

        <div id="container">
            @Html.Partial("Jumbotron")

            @RenderBody()

            @Html.Partial("MovieSearch/Index")
            @Html.Partial("AllTime/Index")
            @Html.Partial("BestAndWorst/Index")
            @Html.Partial("YearByYear/Index")
            @Html.Partial("TheTeam")

        </div>
    </div>

    @Scripts.Render(BundleScripts.Core)
    @Scripts.Render(BundleScripts.App)
    @RenderSection("scripts", required: false)
    
    @Html.Partial("GoogleAnalytics")
</body>
</html>
