﻿<!-- Favicons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/portal/content/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/portal/content/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72"   href="/portal/content/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed"                 href="/portal/content/ico/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon"                                href="/portal/content/ico/favicon.png">
<link rel="icon" type="image/x-icon"                     href="/portal/content/ico/favicon.ico" />
