﻿<section class="section" id="section1" data-section="1">
    <div id="BackStretch" class="container-fluid">
        <div class="row">
            <div class="col-xs-12 intro">
                <hgroup>
                    <h1>Howdy Bloke!</h1>
                    <h3>Want to know how manly a movie is or what is the manliest movie of all time, you've come to the right place.</h3>
                </hgroup>
                <button class="btn-inverse btn-feature" data-section="2">
                    Start <span>Searching</span>
                    <i class="icon-circle-arrow-down"></i>
                </button>
            </div>
        </div>
    </div>
</section>