﻿<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="googlebot" content="index, follow" />

<!-- Taken from Kiandra.com.au -->
<meta name="description" content="Big Man was a fun site that I put together after a work hackathon (at Kiandra IT) on Big Data. My idea for the site was to easily know how manly a movie is or what is the manliest movie of all time. Kiandra IT is Australia's premier choice for IT infrastructure solutions, managed services, software and website development. Accredited and awarded. Enquire now." />
<meta name="keywords" content="movies, big man, man, action movies, manly movies, Kiandra" />
