﻿<div id="sidebar" class="navbar navbar-default">
    <button id="NavExpander" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <nav id="nav" class="navigation" role="navigation">
        <ul>
            <li class="active" data-section="1"><i class="icon-male"></i><span>Home</span></li>
            <li data-section="2" class=""><i class="icon-search"></i><span>Search</span></li>
            <li data-section="3" class=""><i class="icon-calendar-empty"></i><span>Year</span></li>
            <li data-section="4" class=""><i class="icon-fire-extinguisher"></i><span>Best &amp; Worst</span></li>
            <li data-section="5" class=""><i class="icon-thumbs-up"></i><span>All Time</span></li>
            <li data-section="6" class="last"><i class="icon-star"></i><span>Team</span></li>
        </ul>
    </nav>
</div>
