﻿<section class="section" id="section6" data-section="6">
    <div class="container-fluid">
        <div class="row">
            <h2>The Team</h2>
            <p>
                This fun site is the result of <a href="http://kiandra.com.au">Kiandra's</a> most recent <a href="http://blog.kiandra.com.au/2013/09/kiandra-hackathon-2/">hackathon</a>. 
                In creating a manliness index we combined IMDB datasets for genre, keywords, rating, MPAA-rating and developed an algorithm that gave
                a weighting to specific elements of a movie, thus creating the manly score index. The results are a little mixed but we had a blast
                making the site and rediscovered some seriously good movie quotes in the process. 
            </p>
            <p>
                Ok so getting the movie posters proved rather difficult but I think you will agree that we did a pretty good job. In the end 
                we had to use several services with a plug-in based fall-back mechanism. To get the movie posters we used a variety of 
                sources like OMDB, Bing, Google and Dean Clatworthy's API.
            </p>
            <p>
                It was a great event and if you are interested in software development and want to work with an awesome team  
                then <a href="http://kiandra.com.au">get in touch with us to find out how</a>. For this site praise must go to:- 
            </p>
            <ul id="TeamPraiseList">
                <li>Bradley Ford</li>
                <li>Sam Critchley</li>
                <li>Harshal Joshi</li>
                <li>Jonathan Guido</li>
                <li>Hendry Luk</li>
                <li>Kane Barton</li>
            </ul>
        </div>
        <div class="row">
            <h2>Special Thanks</h2>
            <p>
                As with most things these days without the following helpful websites this one would not be possible:-
            </p>
            <ul id="SpecialThanksList">
                <li><a href="http://www.imdb.com" title="IMDB">IMDB</a></li>
                <li><a href="http://fanart.tv/movie-fanart" title="fanart.tv">fanart.tv</a></li>
                <li><a href="http://www.omdbapi.com" title="OMDB API">The Open Movie Database API</a></li>
                <li><a href="http://www.bing.com/dev/en-us/dev-center" title="Bing">Bing API</a></li>
                <li><a href="https://cloud.google.com/console" title="Google">Google API</a></li>
                <li><a href="http://deanclatworthy.com/imdb/" title="Dean Clatworthy">Dean Clatworthy IMDB API</a></li>
                <li><a href="http://mymovieapi.com" title="MyMovie API">My Movie API</a></li>
            </ul>
        </div>
        <div class="row">
            <h2>The Technology</h2>
            <p>Built using some of the best technologies available.</p>
            <ul id="TheTechnology">
                <li><a href="http://www.asp.net/mvc/mvc4" title="ASP.NET MVC4">ASP.NET MVC4</a></li>
                <li><a href="http://jquery.com/" title="jQuery">jQuery</a></li>
                <li><a href="http://knockoutjs.com/" title="Knockout.js">Knockout.js</a></li>
                <li><a href="http://signalr.net/" title="ASP.NET SignalR">ASP.NET SignalR</a></li>
                <li><a href="http://twitter.github.io/typeahead.js/" title="Typeahead.js">Typeahead.js</a></li>
                <li><a href="http://getbootstrap.com/" title="Bootstrap">Bootstrap</a></li>
                <li><a href="http://github.com/rendro/easy-pie-chart/" title="Easy Pie Chart">Easy Pie Chart (by Robert Fleischmann)</a></li>
            </ul>
        </div>
    </div>
</section>
