﻿<section class="section" id="section2" data-section="2">
    <div class="container-fluid">
        @Html.Partial("MovieSearch/Heading")
        @Html.Partial("MovieSearch/Input")
        @Html.Partial("MovieSearch/Results")
        @Html.Partial("MovieSearch/Score")
        @Html.Partial("MovieSearch/RecentlySearchdFor")
    </div>
</section>
