﻿        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <input id="MovieNameSearch" type="text" class="form-control" placeholder="Search for movie name" data-bind="value: SearchForMovieName">
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                <button id="MovieNameSearchButton" type="button" class="btn-inverse btn-feature" data-bind="click: SearchForMovie">
                    <span data-bind="text: SearchText">Search</span>
                    <i id="MovieNameSearchButtonIcon" class="icon-search"></i>
                </button>
            </div>
        </div>
