﻿<div id="OtherAlsoSearchingFor" class="row bs-callout-muted bs-callout-bigman-muted">
    <h4>Right now others are searching for</h4>

    <div data-bind="visible: RecentSearchesLoading">
        <i id="YearOnYearLoadingIcon" class="icon-refresh icon-spin"></i>
    </div>
    <div class="text-center" data-bind="visible: ShowRecentSearches, foreach: RecentSearches">
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-2 text-center">
            <a href="javascript:void(0)" data-bind="attr: { 'data-movie': name }, click: function () { ClickToSearch(this); return false; }, clickBubble: false">
                <img src="" class="img-thumbnail " data-bind="attr: { src: imageUrl }" />
            </a>
            <div data-bind="text: name"></div>
            <div class="time-ago-muted" data-bind="text: ago"></div>
        </div>
    </div>
</div>
