﻿        <div id="SearchResults" class="row">
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 center-sm">
                <div id="MoviePosterSearching" style="font-size: 10em;"><i class="icon-refresh icon-spin icon-large"></i></div>
                <img id="MoviePoster" class="media-object img-thumbnail" alt="Your movie" src="" data-bind="attr: { src: ImageUrl }" />
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                <h3 id="MovieName" class="media-heading" data-bind="text: Name"></h3>
                <p data-bind="text: Plot"></p>
            </div>
        </div>
