﻿        <div id="ManScore" class="row bs-callout bs-callout-bigman">
            <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10"><span>We say...</span>&thinsp;<span data-bind="fadeVisible: ManTag().length > 0, text: ManTag"></span></div>
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 manScoreGauge">
                <div class="chart">
                    <div class="percentage" data-bind="attr: { 'data-percent': Score }"><span data-bind="text: Score"></span>&thinsp;of&thinsp;100</div>
                    <div class="text-center">Man Score</div>
                </div>
            </div>
        </div>