﻿<div class="row">
    <div data-bind="visible: SearchesLoading">
        <i id="RecentSearchesLoadingIcon" class="icon-refresh icon-spin"></i>
    </div>
</div>
<div id="AllTimeResults" data-bind="visible: SearchesLoaded, foreach: Results">
    <div class="row spaced">
        <div class="col-sm-3 col-md-3">
            <a href="javascript:void(0)" data-bind="attr: { 'data-movie': name }, click: function () { ClickToSearch(this); return false; }, clickBubble: false">
                <img src="" class="img-thumbnail " data-bind="attr: { src: imageUrl }" />
            </a>
        </div>
        <div class="col-sm-9 col-md-9">
            <a href="javascript:void(0)" data-bind="attr: { 'data-movie': name }, text: name, click: function () { ClickToSearch(this); return false; }, clickBubble: false"></a>
            <div><span data-bind="text: score"></span>&nbsp;of 100</div>
            <div data-bind="text: plot"></div>
        </div>
    </div>
</div>