﻿        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2>Best &amp; Worst</h2>
                <p>Want to know what are the best and worst movies of the year... well simply click below to find out.</p>
            </div>
        </div>
