﻿<div class="row">
    <div data-bind="visible: SearchesLoading">
        <i id="RecentSearchesLoadingIcon" class="icon-refresh icon-spin"></i>
    </div>
</div>

<div id="BestAndWorstResults" data-bind="visible: SearchesLoaded">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h3>Best in <span data-bind="text: Year"></span></h3>
            <div id="BestResults" data-bind="foreach: BestResults">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <a href="javascript:void(0)" data-bind="attr: { 'data-movie': name }, click: function () { ClickToSearch(this); return false; }, clickBubble: false">
                            <img src="" class="img-thumbnail " data-bind="attr: { src: imageUrl }" />
                        </a>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <a href="javascript:void(0)" data-bind="attr: { 'data-movie': name }, text: name, click: function () { ClickToSearch(this); return false; }, clickBubble: false"></a>
                        <div><span data-bind="text: score"></span>&nbsp;of 100</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="WorstResultsWrapper" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h3 class="text-right">Worst in <span data-bind="text: Year"></span></h3>
            <div id="WorstResults" data-bind="foreach: WorstResults">
                <div class="row">
                    <div class="col-md-6">
                        <a href="javascript:void(0)" data-bind="attr: { 'data-movie': name }, text: name, click: function () { ClickToSearch(this); return false; }, clickBubble: false"></a>
                        <div><span data-bind="text: score"></span>&nbsp;of 100</div>
                    </div>
                    <div class="col-md-6">
                        <a href="javascript:void(0)" data-bind="attr: { 'data-movie': name }, click: function () { ClickToSearch(this); return false; }, clickBubble: false">
                            <img src="" class="img-thumbnail " data-bind="attr: { src: imageUrl }" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
