﻿@using BigMan.Domain
@using BigMan.Extensions

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <span class="best-and-worst-year-prefix">20</span>
    @for (var i = DateTime.Now.Year - 2000; i >= 0; i--)
    {
        <a href="javascript:BestAndWorstHelper.SearchForYear(@(2000+i))">@i.ToTwoDigitYear()</a><text>&nbsp;</text>
    }
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <span class="best-and-worst-year-prefix">19</span>
    @for (var i = 99; i > Defaults.MinYear - 1900; i--)
    {
        <a href="javascript:BestAndWorstHelper.SearchForYear(@(1900+i))">@i.ToTwoDigitYear()</a><text>&nbsp;</text>
    }
</div>
